{#{% block daterange_widget %}#}
    {#{% spaceless %}#}
        {#{% set attr = attr|merge({ 'class': 'form-inline' }) %}#}
        {#<div {{ block('widget_container_attributes') }}>#}
            {#{{ form_widget(form.start) }} - {{ form_widget(form.end) }}#}
            {#{{ form_errors(form.start) }}#}
            {#{{ form_errors(form.end) }}#}

            {#{{ form_errors(form) }}#}
        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock %}#}

{#{% block intrange_widget %}#}
    {#{% spaceless %}#}
        {#{% set attr = attr|merge({ 'class': 'form-inline' }) %}#}
        {#<div {{ block('widget_container_attributes') }}>#}
            {#{{ form_widget(form.start) }} - {{ form_widget(form.end) }}#}
            {#{{ form_errors(form.start) }}#}
            {#{{ form_errors(form.end) }}#}

            {#{{ form_errors(form) }}#}
        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock %}#}

{#{% block datetime_widget -%}#}
    {#{% if widget == 'single_text' %}#}
        {#{{- block('form_widget_simple') -}}#}
    {#{% else %}#}
        {#{% set attr = attr|merge({ 'class': 'inline' }) %}#}
        {#<div {{ block('widget_container_attributes') }}>#}
            {#{{- form_errors(form.date) -}}#}
            {#{{- form_errors(form.time) -}}#}
            {#{{- form_widget(form.date) -}}#}
            {#{{- form_widget(form.time) -}}#}
        {#</div>#}
    {#{% endif %}#}
{#{%- endblock datetime_widget %}#}

{#{% block legend_widget %}#}
    {#<legend>{{ legend }}</legend>#}
{#{% endblock %}#}
